<% title "Place Type" %>

<p>
  <strong>Description:</strong>
  <%=h @category.description %>
</p>

<p>
  <%= link_to "Edit", edit_place_type_path(@category) %> |
  <%= link_to "Destroy", @category, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", categories_path %>
</p>
